@import './colors';

.underline {
    width: 60px;
    height: 4px;
    background-color: $third-color;
    margin: 1em auto;
    margin-bottom: 40px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
