@import '../shared/colors';
.promo{
    padding: 5em 0;
    &__box{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        &__card{
            background-color: $secondary-color;
            border: 1px solid $third-color;
            text-align: center;
            border-radius: 15px;
            padding: 2em;
            width: 80%;
            height: 100%;
            margin: 1em 0;
            hr{
                margin: 1em;
            }
            span{
                font-weight: bold;
            }
        }
    }
}
@media(min-width:992px){
   .promo{
    &__box{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        &__card{
            width: 40%;
        }
    }
   }
}