.we-are-here{
    padding: 5em 0;
    &__box{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        &-map{
            padding: 2em 0.5em;
        }
        &-text{
            text-align: center;
            font-size: 1.6rem;
            letter-spacing: 2px;
            }
            svg{
                margin-top:1em;
                animation:scale 3s infinite;
            }
        }
    }
    .mapouter{
        position:relative;
        height:400px;
        background:#fff;
    }
    .gmap_canvas{overflow:hidden;height:400px;}
    .gmap_canvas iframe{
        height:400px; position:relative;z-index:2}
    .gmap_iframe {
        height:400px!important;
        }
    @media(min-width:992px){
        .we-are-here{
            &__box{
                flex-direction: row;
            }
            .gmap_canvas{
                width: 430px;
            }
            .gmap_canvas iframe{
                width: 430px;
            }
        }
    }
    @keyframes scale{
        0%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.2);
        }
        100%{
            transform: scale(1);
        }
    }