@import '../shared/colors';
.coach__socials{
    padding: 3em 0;
    &-box{
        position: relative;
        &--text{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 2em 1em;
            a{
                text-decoration: none;
                color: $third-color;
                font-size: 2rem;
                padding: 1em 0;
            }
            p{
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.3s;
            }
            p:hover{
                transform: scale(1.05);
                color: $fourth-color;
            }
        }
    }
}


@media(min-width:992px){
    .coach__socials{
        &-box{
            &--text{
                flex-direction: row;
            }
        }
    }
}