@import '../shared/colors';
.coach__socials{
    padding: 3em 0;
    &-box{
        position: relative;
        &--text{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 2em 1em;
            a{
                text-decoration: none;
                color: $third-color;
                font-size: 2rem;
                padding: 1em 0;
            }
            p{
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.3s;
            }
            p:hover{
                transform: scale(1.05);
                color: $fourth-color;
            }
        }
    }
    &__img{
        svg{
            position: absolute;
            opacity: 0.4;
            &:nth-child(1){
                bottom: 0%;
                left: 30%;
                width: 10%;
                animation: rotateLeft 60s infinite linear;
            }
            &:nth-child(2){
                top: 15%;
                right: 30%;
                width: 8%;
                animation: rotateRight 40s infinite linear;
            }
        }
    }
}


@media(min-width:992px){
    .coach__socials{
        &-box{
            &--text{
                flex-direction: row;
            }
        }
    }
}


@keyframes rotateRight{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes rotateLeft{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-360deg);
    }
}